@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  
}

a{
  text-decoration: none;
}
@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    trnasform: translateY(5px);
  }

  60%{
    transform:translateY(3px);
  }
}